<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_create' %}"> Create a new list </a>
                </p>
            </div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of items</th>
                </thead>
                <tbody>
                    {% for items in todo_list %}

                    <tr>
                        <td><a href="{% url 'todo_list_detail' items.id %}">{{items.name}}</a></td>
                        <td>{{items.items.all|length}}</td>
                    </tr>

                        {% endfor %}
                </tbody>
            </table>
       </div>
    </main>

</body>
</html>
